server:
  port: 8080

spring:
  application:
    name: genai-etl-api
  datasource:
    url: jdbc:postgresql://${DB_HOST:${spring.datasource.host}}:${DB_PORT:${spring.datasource.port}}/${DB_NAME:${spring.datasource.database}}
    username: ${DB_USER:${spring.datasource.username}}
    password: ${DB_PASSWORD:${spring.datasource.password}}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

security:
  jwt:
    issuer: ${JWT_ISSUER}
    audience: ${JWT_AUDIENCE}
    public-key-pem: ${JWT_PUBLIC_KEY}
