name: CI Java

on:
  push:
    paths:
      - 'api/**'
      - '.github/workflows/ci-java.yml'
  pull_request:
    paths:
      - 'api/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Build and Test
        run: |
          cd api
          ./gradlew clean build test
